/* Inter fonts */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: src("./../../public/fonts/inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: src("./../../public/fonts/inter/Inter-Regular.ttf") format("truetype");
}
