@import "./fonts.css";
/* Color */
:root {
  --color-primary: #f89818;
  --color-secondary: #3a2e56;
  --color-white: #ffffff;
  --color-black: #000000;
  /*  Color Variants */
  --color-white-100: #f4f4f6;
  --color-white-200: #dedce5;
  --color-secondary-600: #635681;
  --color-secondary-800: #3a2e56;
  /* Typography */
  --font-family: "Inter", sans-serif;
  --base-font-size: 16px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 120%;
}

.heading-1 {
  font-size: clamp(48px, 6vw, 64px);
}

.heading-2 {
  font-size: clamp(32px, 4vw, 48px);
}

.heading-3 {
  font-size: clamp(24px, 3vw, 32px);
}

.heading-4 {
  font-size: clamp(20px, 2vw, 24px);
}

.body3 {
  font-size: clamp(18px, 1.5vw, 20px);
  font-weight: 400;
}

.body3Strong {
  font-size: clamp(18px, 1.5vw, 20px);
  font-weight: 700;
}

.body2 {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 400;
  line-height: 150%;
}

.body2Strong {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 700;
  line-height: 150%;
}

.body {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 400;
}

.bodyStrong {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 700;
}

.bodySmall {
  font-size: 14px;
  font-weight: 400;
}

.bodySmallStrong {
  font-size: 14px;
  font-weight: 700;
}

.bodyXSmall {
  font-size: 13px;
  font-weight: 400;
}

.bodyXSmallStrong {
  font-size: 13px;
  font-weight: 700;
}

/* Classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.text-white {
  color: var(--color-white);
}

.z_container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Buttons */
.btn {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 10.5px 24px;
  color: var(--color-secondary);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}

.btn.btn-full {
  width: 100%;
}

.btn.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn.btn-primary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn.btn-secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn.btn-secondary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-outline-secondary {
  color: var(--color-secondary);
  background-color: transparent;
  border: 1px solid var(--color-secondary);
}

.btn-outline-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-primary);
}

p {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  line-height: 150%;
}

svg,
svg > path {
  stroke: var(--color-secondary--600);
}

/* Inputs */
.z_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

.z_input--label {
  color: #140d26;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.z_input--wrapper {
  width: 100%;
  display: flex;
  height: 56px;
  /* padding: 8px; */
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 6px;
  border: 1px solid var(--color-white--200, #dedce5);
  background: var(--color-white--0, #fff);
}

.z_input--field,
input,
textarea,
select {
  padding: 16px 8px;
  width: 100%;
  min-height: 24px;
  height: 100%;
  border: none;
  background: transparent;
  font-family: var(--font-family);
  color: var(--UI-UI--400, #c5bcdc);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 24px */
  resize: none;
}

select {
  background: url("./../../assets/img/arrow.svg") no-repeat;
  background-position: right 15px top; /* Change the px value here to change the distance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.z_input--field:active,
.z_input--field:focus {
  outline: none;
}

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--color-secondary--800, #3a2e56);
  background-color: var(--color-white);
}

/* Components */
section {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
section .z_container {
  overflow: hidden;
  padding-top: clamp(40px, 8vw, clamp(40px, 8vw, 96px));
  padding-bottom: clamp(40px, 8vw, clamp(40px, 8vw, 96px));
}
section .z_container .z_section--heading {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
section .z_container .z_section--heading .z_section--title {
  color: var(--color-secondary--800, #3a2e56);
}
section .z_container .z_section--heading .z_section--desc {
  margin-top: 24px;
  color: var(--color-secondary--600, #3a2e56);
}

/********************************************** */
/*                    Navbar                    */
/********************************************** */
.z_primaryNav {
  width: 100%;
  background-color: var(--color-white);
}
.z_primaryNav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.z_primaryNav--menuArea {
  width: 100%;
  max-width: 848px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.z_primaryNav--mobileMenu {
  display: none;
}

@media screen and (max-width: 959px) {
  .z_primaryNav {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .z_primaryNav--logo img {
    max-height: 32px;
  }
  .z_primaryNav--menu {
    display: none;
  }
  .z_primaryNav--actions {
    display: none;
  }
  .z_primaryNav--menuBtn {
    display: block;
    cursor: pointer;
    border: none;
    display: block;
    background: transparent;
  }
  .z_primaryNav--menuBtn svg {
    width: 32px;
    height: 32px;
  }
  .z_primaryNav--mobileMenu {
    padding: 20px;
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background: var(--color-white);
    z-index: 999;
  }
  .z_primaryNav--mobileMenu.--active {
    display: block !important;
  }
  .z_primaryNav--mobileMenu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .z_primaryNav--mobileMenu ul li {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
  .z_primaryNav--mobileMenu ul li a {
    color: var(--color-secondary--800, #3a2e56);
  }
}
@media screen and (min-width: 960px) {
  .z_primaryNav {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .z_primaryNav--logo img {
    max-height: 40px;
  }
  .z_primaryNav--menuArea {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .z_primaryNav--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .z_primaryNav--menu li {
    font-size: 18px;
    line-height: 27px;
  }
  .z_primaryNav--menuBtn {
    display: none;
  }
  .z_primaryNav--mobileMenu {
    display: none !important;
  }
}
/* ********************************************* */
/*                  Hero Section                 */
/* ********************************************* */
.z_hero {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.z_hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #140d26 60.94%, rgba(0, 0, 0, 0) 100%), url(/assets/img/city.jpg) center no-repeat, lightgray 1010.787px -1137.327px/83.477% 373.06% no-repeat;
}
.z_hero--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.z_hero-content {
  width: 100%;
  max-width: 594px;
}
.z_hero--content--title {
  color: var(--color-white);
}

.z_hero--content--bullets .--option {
  gap: 16px;
}
.z_hero--content--bullets .--option .icon {
  width: 24px;
  height: 24px;
}
.z_hero--content--bullets .--option p {
  color: var(--color-white, #fff);
}

.z_hero--slider {
  overflow: hidden;
  width: 100%;
  max-width: 492px;
  height: 342px;
  background: rgba(20, 13, 38, 0.7);
  border: 1px solid var(--color-white--200, #dedce5);
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03), -1px 11px 11px 0px rgba(0, 0, 0, 0.03), -3px 24px 14px 0px rgba(0, 0, 0, 0.02), -6px 42px 17px 0px rgba(0, 0, 0, 0), -9px 66px 19px 0px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.z_hero--slider .z_slider--container {
  width: auto;
  max-width: inherit;
  height: inherit;
}
.z_hero--slider .z_slider--container .z_hero--slider--slide {
  width: inherit;
  max-width: inherit;
  height: inherit;
  padding: 40px;
  min-width: 0;
  text-align: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--avatar {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  /* border: 4px solid var(--color-white--200, #DEDCE5); */
}
.z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--desc {
  max-width: 378px;
  margin-right: auto;
  color: var(--color-white--0, #fff);
}

.z_hero--slider--dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.z_hero--slider--dot {
  height: 8px;
  width: 8px;
  margin-top: 24px;
  border-radius: 50px;
  background-color: var(--UI-UI--200, #dedce5);
  border: none;
}

.z_hero--slider--dots.z_hero--slider--dot--selected {
  background-color: var(--Primary--500, #f89818);
}

@media screen and (max-width: 959px) {
  .z_hero--container {
    flex-direction: column;
  }
  .z_hero--content--title {
    margin-bottom: 30px;
  }
  .z_hero--content--bullets .--option {
    gap: 16px;
  }
  .z_hero--content--bullets .--option .icon {
    width: 24px;
    height: 24px;
  }
  .z_hero--content--bullets .--option p {
    color: var(--color-white, #fff);
  }
  .z_hero-content .btn {
    margin-top: 40px;
  }
  .z_hero--slider {
    overflow: hidden;
    max-width: clamp(594px, 74.25vw, 492px);
    height: 342px;
    background: rgba(20, 13, 38, 0.7);
    border: 1px solid var(--UI-UI--200, #dedce5);
    border-radius: 12px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03), -1px 11px 11px 0px rgba(0, 0, 0, 0.03), -3px 24px 14px 0px rgba(0, 0, 0, 0.02), -6px 42px 17px 0px rgba(0, 0, 0, 0), -9px 66px 19px 0px rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .z_hero--slider .z_slider--container {
    width: auto;
    height: inherit;
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide {
    width: inherit;
    height: inherit;
    padding: 40px;
    min-width: 0;
    text-align: center;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--avatar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    /* border: 4px solid var(--color-white--200, #DEDCE5); */
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--desc {
    width: 378px;
    margin-right: auto;
    color: var(--color-white--0, #fff);
  }
  .z_hero--slider--dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .z_hero--slider--dot {
    height: 8px;
    width: 8px;
    margin-top: 24px;
    border-radius: 50px;
    background-color: var(--UI-UI--200, #dedce5);
    border: none;
  }
  .z_hero--slider--dots.z_hero--slider--dot--selected {
    background-color: var(--Primary--500, #f89818);
  }
}
@media screen and (min-width: 960px) {
  .z_hero {
    min-height: 642px;
  }
  .z_hero--content--title {
    margin-bottom: 40px;
  }
  .z_hero--content--bullets .--option {
    gap: 16px;
  }
  .z_hero--content--bullets .--option .icon {
    width: 24px;
    height: 24px;
  }
  .z_hero--content--bullets .--option p {
    color: var(--color-white, #fff);
  }
  .z_hero-content .btn {
    margin-top: 64px;
  }
  .z_hero--slider {
    overflow: hidden;
    width: 100%;
    max-width: 492px;
    height: 342px;
    background: rgba(20, 13, 38, 0.7);
    border: 1px solid var(--color-white--200, #dedce5);
    border-radius: 12px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03), -1px 11px 11px 0px rgba(0, 0, 0, 0.03), -3px 24px 14px 0px rgba(0, 0, 0, 0.02), -6px 42px 17px 0px rgba(0, 0, 0, 0), -9px 66px 19px 0px rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  .z_hero--slider .z_slider--container {
    width: auto;
    max-width: inherit;
    height: inherit;
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide {
    width: inherit;
    max-width: inherit;
    height: inherit;
    padding: 40px;
    min-width: 0;
    text-align: center;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--avatar {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    /* border: 4px solid var(--color-white--200, #DEDCE5); */
  }
  .z_hero--slider .z_slider--container .z_hero--slider--slide .z_hero--slider--desc {
    max-width: 378px;
    margin-right: auto;
    color: var(--color-white--0, #fff);
  }
  .z_hero--slider--dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .z_hero--slider--dot {
    height: 8px;
    width: 8px;
    margin-top: 24px;
    border-radius: 50px;
    background-color: var(--UI-UI--200, #dedce5);
    border: none;
  }
  .z_hero--slider--dots.z_hero--slider--dot--selected {
    background-color: var(--Primary--500, #f89818);
  }
}
/* ********************************************* */
/*              Section - Benefits               */
/* ********************************************* */
.z_benefits--cards {
  width: 100%;
  margin-top: clamp(40px, 8vw, 96px);
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 80px;
}
.z_benefits--card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  border: 2px solid var(--UI-UI--200, #dedce5);
  background: var(--UI-UI--100, #f4f4f6);
}
.z_benefits--avatarBox {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  border-radius: 99px;
  border: 2px solid var(--color-secondary-600, #635681);
  background: var(--color-white-100, #f4f4f6);
}
.z_benefits--avatarBox .z_benefits--card--avatar {
  color: var(--color-secondary--800, #3a2e56);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 80%; /* 25.6px */
}

.z_benefits--card--title {
  color: var(--color-secondary--800, #3a2e56);
}

.z_benefits--card--desc {
  color: var(--color-secondary--800, #3a2e56);
  text-align: center;
  line-height: 150%;
}

@media screen and (max-width: 859px) {
  .z_benefits--cards {
    flex-direction: column;
  }
  .z_benefits--card {
    padding: 60px 30px 40px 30px;
  }
}
@media screen and (min-width: 860px) {
  .z_benefits--card {
    padding: 80px 40px 40px 40px;
  }
}
/* ********************************************* */
/*              Section - Process                */
/* ********************************************* */
.z_process--journey {
  position: relative;
  margin-top: clamp(40px, 8vw, 96px);
  display: flex;
  flex-direction: column;
  row-gap: clamp(40px, 8vw, 96px);
}
.z_process--journey--card {
  padding: 40px 0;
  position: relative;
  display: flex;
  justify-content: start;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.z_process--journey--card:nth-of-type(odd) .z_journey--card--arrow {
  left: 176px;
  bottom: -40%;
}
.z_process--journey--card:nth-of-type(even) .z_journey--card--content {
  margin-left: auto;
}
.z_process--journey--card:nth-of-type(even) .z_journey--card--arrow {
  left: 231px;
  bottom: -25%;
}
.z_journey--card--content {
  max-width: 300px;
}
.z_journey--card--content .z_journey--card--title {
  color: var(--color-secondary--800, #3a2e56);
}
.z_journey--card--content .z_journey--card--desc {
  margin-top: 16px;
  color: var(--color-secondary--800, #3a2e56);
}

.z_journey--card--sketch {
  width: 100%;
  max-width: 500px;
}

.z_journey--card--arrow {
  position: absolute;
}

@media screen and (max-width: 859px) {
  .z_process--journey--card {
    flex-direction: column;
  }
  .z_process--journey--card:nth-of-type(odd) .z_journey--card--content {
    margin-right: auto;
    text-align: left;
  }
  .z_process--journey--card:nth-of-type(odd) .z_journey--card--sketch {
    margin-left: auto;
  }
  .z_process--journey--card:nth-of-type(odd) .z_journey--card--arrow {
    left: 0px;
    bottom: -20%;
  }
  .z_process--journey--card:nth-of-type(even) .z_journey--card--content {
    margin-left: auto;
    text-align: right;
  }
  .z_process--journey--card:nth-of-type(even) .z_journey--card--sketch {
    margin-right: auto;
  }
  .z_process--journey--card:nth-of-type(even) .z_journey--card--arrow {
    right: 0;
  }
}
@media screen and (min-width: 860px) {
  .z_process--journey--card {
    align-items: center;
  }
  .z_process--journey--card:nth-of-type(odd) .z_journey--card--arrow {
    margin-right: auto;
    left: 176px;
    bottom: -40%;
  }
  .z_process--journey--card:nth-of-type(even) .z_journey--card--content {
    margin-left: auto;
  }
  .z_process--journey--card:nth-of-type(even) .z_journey--card--arrow {
    left: 231px;
    bottom: -25%;
  }
}
/* ********************************************* */
/*              Section - Pricing                */
/* ********************************************* */
.z_price--cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.z_price--card {
  width: 100%;
  max-width: 373.33334px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background: var(--color-white--100, #f4f4f6);
  color: var(--color-secondary--800, #3a2e56);
}
.z_price--card.card-primary {
  color: var(--color-white, #ffffff);
  background: var(--color-secondary--700, #4e416c);
}
.z_price--card svg path {
  stroke: var(--color-secondary--700, #635681);
}
.z_price--card.card-primary svg path {
  stroke: var(--color-white, #ffffff);
}
.z_price--card--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.z_price--card--imageBox {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 99px;
}

.z_price--card--list {
  width: 100%;
  margin-top: 40px;
}
.z_price--card--list li {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 25px;
}
.z_price--card--list li:last-of-type {
  margin-bottom: 0;
}

.z_price--card--btn {
  width: inherit;
}

@media screen and (max-width: 859px) {
  .z_price--cards {
    margin-top: 40px;
    flex-direction: column;
    gap: 40px;
  }
  .z_price--card {
    height: auto;
    padding: 40px;
  }
  .z_price--card--price {
    margin-top: 20px;
  }
  .z_price--card--list li {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 860px) {
  .z_price--cards {
    margin-top: 42px;
    gap: 80px;
  }
  .z_price--card {
    padding: 40px;
    min-height: 600px;
  }
  .z_price--card--price {
    margin-top: 40px;
  }
  .z_price--card--list li {
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 25px;
  }
}
/* ********************************************* */
/*              Section - App                    */
/* ********************************************* */
.z_app--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.z_app--content {
  width: 100%;
  max-width: 530px;
}
.z_app--content .z_app--content--link {
  margin-top: 48px;
}

.z_app--screenshots {
  width: 100%;
  max-width: 601.2973px;
  min-height: 529.73px;
  height: auto;
  position: relative;
  display: block;
  /* .z_app--screenshots--imgGroup {} */
}
.z_app--screenshots--img {
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: absolute;
  bottom: 0;
}
.z_app--screenshots--img.ss1 {
  /* margin-left: -93%; */
  /* width: 203.801px; */
  height: 408.726px;
  transform: rotate(-7deg);
  z-index: 0;
  /* transform: translateX(-100%); */
  left: 3.5%;
}
.z_app--screenshots--img.ss2 {
  width: 264.135px;
  height: 529.726px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.z_app--screenshots--img.ss3 {
  /* width: 203.801px; */
  height: 408.726px;
  /* margin-right: -10%; */
  z-index: 0;
  left: 63%;
  transform: rotate(5deg);
}

@media screen and (max-width: 959px) {
  .z_app--container {
    flex-direction: column;
  }
  .z_app--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .z_app--screenshots {
    margin-top: 40px;
    width: 100%;
    max-width: 601.2973px;
    max-height: 529.73px;
    /* .z_app--screenshots--imgGroup {} */
  }
  .z_app--screenshots--img {
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: absolute;
    bottom: 0;
  }
  .z_app--screenshots--img.ss1 {
    /* margin-left: -93%; */
    /* width: 203.801px; */
    max-height: 408.726px;
    transform: rotate(-7deg);
    z-index: 0;
    /* transform: translateX(-100%); */
    left: 3.5%;
  }
  .z_app--screenshots--img.ss2 {
    max-width: 264.135px;
    max-height: 529.726px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .z_app--screenshots--img.ss3 {
    /* width: 203.801px; */
    max-height: 408.726px;
    /* margin-right: -10%; */
    z-index: 0;
    left: 63%;
    transform: rotate(5deg);
  }
}
@media screen and (min-width: 960px) {
  .z_app--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .z_app--content {
    width: 100%;
    max-width: 530px;
  }
  .z_app--content .z_app--content--link {
    margin-top: 48px;
  }
  .z_app--screenshots {
    width: 100%;
    max-width: 601.2973px;
    min-height: 529.73px;
    height: auto;
    position: relative;
    display: block;
    /* .z_app--screenshots--imgGroup {} */
  }
  .z_app--screenshots--img {
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: absolute;
    bottom: 0;
  }
  .z_app--screenshots--img.ss1 {
    /* margin-left: -93%; */
    /* width: 203.801px; */
    height: 408.726px;
    transform: rotate(-7deg);
    z-index: 0;
    /* transform: translateX(-100%); */
    left: 3.5%;
  }
  .z_app--screenshots--img.ss2 {
    width: 264.135px;
    height: 529.726px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .z_app--screenshots--img.ss3 {
    /* width: 203.801px; */
    height: 408.726px;
    /* margin-right: -10%; */
    z-index: 0;
    left: 63%;
    transform: rotate(5deg);
  }
}
/* ********************************************* */
/*              Section - CTA                    */
/* ********************************************* */
.z_cta .z_cta--container .z_cta--form {
  margin: 48px auto 0 auto;
  width: 100%;
  max-width: 688px;
}
.z_cta .z_cta--container .z_cta--form form {
  display: grid;
}
.z_cta .z_cta--container .z_cta--form form .z_input--name {
  grid-area: name;
}
.z_cta .z_cta--container .z_cta--form form .z_input--topic {
  grid-area: topic;
}
.z_cta .z_cta--container .z_cta--form form .z_input--email {
  grid-area: email;
}
.z_cta .z_cta--container .z_cta--form form .z_input--phone {
  grid-area: phone;
}
.z_cta .z_cta--container .z_cta--form form .z_input--message {
  grid-area: message;
}
.z_cta .z_cta--container .z_cta--form form .z_cta--form--btn {
  grid-area: btn;
  margin: 24px auto 0 auto;
}

@media screen and (max-width: 959px) {
  .z_cta .z_cta--container .z_cta--form form {
    row-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template: "name" "topic" "email" "phone" "message" "btn"/1fr;
  }
}
@media screen and (min-width: 960px) {
  .z_cta .z_cta--container .z_cta--form form {
    -moz-column-gap: 48px;
         column-gap: 48px;
    row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template: "name topic" "email message" "phone message" "btn btn"/1fr 1fr;
  }
}
/* ********************************************* */
/*              Section - FAQ                    */
/* ********************************************* */
.z_faq .z_faq--container .z_faq--content {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 823px;
}
.z_faq .z_faq--container .z_faq--content .z_faq--accordion {
  display: flex;
  flex-direction: column;
}
.z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
}
.z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--header .z_faq--accordion--title {
  text-align: left;
}
.z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--body {
  width: 100%;
  display: none;
}
.z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--body.active {
  display: block;
}
@media screen and (max-width: 959px) {
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion {
    gap: 15px;
  }
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item {
    padding: 15px;
  }
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--body {
    margin-top: 15px;
  }
}
@media screen and (min-width: 960px) {
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion {
    gap: 24px;
  }
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item {
    padding: 24px;
  }
  .z_faq .z_faq--container .z_faq--content .z_faq--accordion .z_faq--accordion--item .z_faq--accordion--body {
    margin-top: 24px;
  }
}
/* ********************************************* */
/*              Section - Footer                 */
/* ********************************************* */
.z_footer .z_footer--top .z_container {
  display: flex;
  justify-content: space-between;
}
.z_footer .z_footer--top .z_container .z_footer--left,
.z_footer .z_footer--top .z_container .z_footer--right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.z_footer .z_footer--top .z_container .z_footer--socials,
.z_footer .z_footer--top .z_container .z_footer--links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.z_footer .z_footer--top .z_container .z_footer--left {
  width: 100%;
  max-width: 232px;
  justify-content: start;
}
.z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li svg {
  stroke: var(--color-secondary--700, #4e416c);
}
.z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li a:hover svg {
  stroke: var(--color-primary);
}
.z_footer .z_footer--top .z_container .z_footer--right {
  width: calc(100% - 232px);
  justify-content: end;
  text-align: right;
}
.z_footer .z_footer--top .z_container .z_footer--right .z_footer--links li,
.z_footer .z_footer--top .z_container .z_footer--right .z_footer--links a {
  color: var(--color-secondary--700, #4e416c);
}
.z_footer .z_footer--bottom p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .z_footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .z_footer .z_footer--top .z_container {
    flex-direction: column;
    row-gap: 40px;
  }
  .z_footer .z_footer--top .z_container .z_footer--socials,
  .z_footer .z_footer--top .z_container .z_footer--links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
  }
  .z_footer .z_footer--top .z_container .z_footer--left {
    width: 100%;
    max-width: 232px;
    justify-content: start;
    gap: 40px;
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li svg {
    stroke: var(--color-secondary--700, #4e416c);
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li a:hover svg {
    stroke: var(--color-primary);
  }
  .z_footer .z_footer--top .z_container .z_footer--right {
    width: calc(100% - 232px);
    justify-content: flex-start;
    text-align: left;
    gap: 15px;
  }
  .z_footer .z_footer--top .z_container .z_footer--right .z_footer--links {
    flex-direction: column;
  }
  .z_footer .z_footer--top .z_container .z_footer--right .z_footer--links li,
  .z_footer .z_footer--top .z_container .z_footer--right .z_footer--links a {
    color: var(--color-secondary--700, #4e416c);
  }
  .z_footer .z_footer--bottom {
    margin-top: 40px;
  }
  .z_footer .z_footer--bottom p {
    text-align: center;
  }
}
@media screen and (min-width: 1300px) {
  .z_footer {
    padding-top: 128px;
    padding-bottom: 56px;
  }
  .z_footer .z_footer--top .z_container {
    display: flex;
    justify-content: space-between;
  }
  .z_footer .z_footer--top .z_container .z_footer--left,
  .z_footer .z_footer--top .z_container .z_footer--right {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .z_footer .z_footer--top .z_container .z_footer--socials,
  .z_footer .z_footer--top .z_container .z_footer--links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    list-style: none;
  }
  .z_footer .z_footer--top .z_container .z_footer--left {
    width: 100%;
    max-width: 232px;
    justify-content: start;
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li svg {
    stroke: var(--color-secondary--700, #4e416c);
  }
  .z_footer .z_footer--top .z_container .z_footer--left .z_footer--socials li a:hover svg {
    stroke: var(--color-primary);
  }
  .z_footer .z_footer--top .z_container .z_footer--right {
    width: calc(100% - 232px);
    justify-content: end;
    text-align: right;
  }
  .z_footer .z_footer--top .z_container .z_footer--right .z_footer--links li,
  .z_footer .z_footer--top .z_container .z_footer--right .z_footer--links a {
    color: var(--color-secondary--700, #4e416c);
  }
  .z_footer .z_footer--bottom {
    margin-top: 80px;
  }
}/*# sourceMappingURL=style.css.map */